:root {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    padding: 2rem;
  }
  


.main{
    width: 80%;
    margin: auto;
}

.feedback-wrapper{
  display: flex;
  gap: 2em;
}

.generated-char-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.generated-char-wrapper > *{
  width: fit-content;
}

.generated-char {
    background-color: lightsteelblue;
    
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: .75em;
}

.generated-char > p{
  text-align: center;
  padding: .25em 1.5em;
  font-size: 1.5em;
  font-family: 'Courier New'; 
}

.keypress-feedback{
  padding: .25em 1.5em;
  background-color: gray;
  border-radius: 1em;
}

.keypress-feedback > p{
  font-size: 1.5em;
}

.correct{
  background-color: lightgreen;
}

.incorrect{
  background-color: lightcoral;
}

.key.correct{
  background-color: lightgreen;
}

.key.incorrect{
  background-color: lightcoral;
}

#LeftIndex{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#finger_outline{
  transition: transform 1s ease-in-out;
}

#finger_outline:hover{
  
  stroke: blue;

}

.finger{
  position: absolute;
  transition: transform 1s ease-in-out;
}

#RightThumb{
  left: 10em;
}